p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
  font-size: 15pt;
  padding-left: 10px;
}

h1 {
  color: black;
}

.Background {
  width: 100vw;
  height: 100vh;
  background-color: #2f77e2;
  z-index: -30;
  position: fixed;
}