.introduction {
    display: flex;
    flex-direction: row;
    background-color: #e2da8f;
    padding: 20px;
    border-radius: 15px;
    border-color: #e2ca7b;
    border-style: solid;
    border-width: 4px;
}

.profile {
    content:url("../assets/thumbnail_IMG_3158.jpg");
    width: 150px;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

@media only screen and (max-width: 600px) {
    .profile {
        width: 100px;
        height: 100px;
    }
}

.project_segment {
    width: 100%;
    display: flex;
    flex-direction: row;
    min-height: 50px;
    height: fit-content;
}

.project_segment video {
    width: 60%;
    height: 100%;
}

.game_player {
    flex-grow: 1;
    background-color: black;
    position: relative;
}

.game_player iframe {
    border: none;
    width: 100%;
    height: 100%;
    position: absolute;
}

.game_player button {
    width: 70px;
    height: 70px;
    opacity: 0.5;
    position: absolute;
    z-index: 6;
}

.game_player img {
    position: relative;
    width: 40px;
    height: 44px;
    left: -5px;
    top: 2px;
}

.project_segment p{
    width: 40%;
    height: 100%;
}

.line {
    border-bottom: 4px solid #e2ac36;
    width: 90%;
    margin-top: 4px;
    left: 5%;
    position: relative;
    padding-bottom: 20px;
    bottom: 10px;
}

@media only screen and (max-width: 400px) {
    .introduction{
        flex-direction: column;
    }
}

@media only screen and (max-width: 600px) {
    .profile {
        width: 100px;
        height: 100px;
    }
}

@media only screen and (max-width: 1000px) {
    .project_segment {
        flex-direction: column;
        height: fit-content;
    }
    .project_segment video, .project_segment iframe{
        width: 100%;
        height: fit-content;
    }
    .project_segment p{
        width: 90%;
        height: fit-content;
        font-size: medium;
    }
}