.dropdown {
    width: fit-content;
    height: fit-content;
    position: absolute;
    top: 0;
}

.dropdown_background{
    background-color: #2f77e2;
    width: 220px;
    height: 70px;
    z-index: 8;
}

.dropdown_cog{
    background-image: url("../assets/dropdown_cog.png");
    z-index: 9;
    position: absolute;
    right: -4px;
    top: 20px;
    width: 30px;
    height: 30px;
}

.dropdown button {
    position: absolute;
    top: 0;
    left: 0;
    width: 220px;
    height: 70px;
    border: none;
    color: black;
    font-family: "Rockwell", sans-serif;
    font-size: 20px;
}

.dropdown button:focus {
    outline: none;
    box-shadow: none;
}

.dropdown_cover {
    z-index: 10;
    background-image: url("../assets/dropdown_base.png");
    background-color: transparent;
}

.dropdown_link {
    background-image: url("../assets/dropdown_segement.png");
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    padding-top: 30px;
    text-align: left;
    padding-left: 40px;
    z-index: 7;
}

.dropdown_link img {
    position: absolute;
    width: 20px;
    height: 20px;
    right: 0;
    padding-right: 33px;
    padding-top: 2px;
}

@media only screen and (min-width: 810px) {
    .dropdown{
        top: 10px;
    }
}