.left_turn, .right_turn, .forward, .backward, .item_trigger{
    all: unset;
    display: inline-block;
    cursor: pointer;
    position: absolute;
}

.left_turn:focus,
.left_turn:active,
.right_turn:focus,
.right_turn:active,
.forward:focus,
.forward:active,
.backward:focus,
.backward:active,
.item_trigger:focus,
.item_trigger:active {
    outline: none;
    box-shadow: none;
}

.left_turn, .right_turn{
    top: 0;
    bottom: 0;
    height: 100%;
    z-index: 50;
}

.left_turn{
    left: 0;
    padding-right: 20%;
}

.right_turn{
    right: 0;
    padding-left: 20%;
}

.forward{
    left: 40%;
    padding-left: 20%;
    height: 70%;
    top: 0;
    z-index: 50;
}

.backward{
    left: 40%;
    padding-left: 20%;
    height: 30%;
    bottom: 0;
    z-index: 50;
}

.flex_box {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    top: 0
}

.maze_container {
    width: 100vmin;
    height: 100vmin;
    display: grid;
    position: relative;
    overflow: hidden;
    user-select: none;
}

.floor, .right_wall, .left_wall, .ceiling, .wall .right_back_wall, .left_back_wall, .side_darkness{
    object-fit: contain;
    position: absolute;
    overflow: hidden;
}

.floor {
    width: 100%;
    height: 100%;
    bottom: 0;
    z-index: 0;
    left: 0;
}

.left_wall {
    height: 100%;
    left: 0;
    z-index: 7;
    bottom: 0;
}

.right_wall {
    height: 100%;
    right: 0;
    z-index: 7;
    transform: scaleX(-1);
    bottom: 0;
}

.right_back_wall {
    height: 100%;
    z-index: 5;
    bottom: 0;
    width: 100%;
    transform: translateX(46%);
}

.left_back_wall {
    height: 100%;
    z-index: 5;
    bottom: 0;
    width: 100%;
    transform: translateX(-46%);
}

.right_wall_front {
    height: 100%;
    z-index: 4;
    width: 100%;
    position: absolute;
    transform: scale(50%) scaleX(-1) translateY(-6%) translateX(1%);
}

.left_wall_front {
    height: 100%;
    z-index: 4;
    width: 100%;
    position: absolute;
    transform: scale(50%) translateY(-6%) translateX(1%);
}
.wall {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    z-index: 6;
    position: absolute;
}

.ceiling {
    width: 100%;
    top: 0;
    z-index: 7;
    left: 0;
}

.front_ceiling {
    height: 100%;
    z-index: 5;
    width: 100%;
    position: absolute;
    transform: scale(50%) translateY(-110%);
}

.front_ceiling_left {
    height: 100%;
    z-index: 4;
    width: 100%;
    position: absolute;
    transform: scale(50%) scaleX(-1) translateY(-106%) translateX(1%);
}

.front_ceiling_right {
    height: 100%;
    z-index: 3;
    width: 100%;
    position: absolute;
    transform: scale(50%) translateY(-106%) translateX(1%);
}

.wall_front {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(50%) translateY(-6%) translateX(1%);
    height: 100%;
    z-index: 2;
    position: absolute;
}

.wall_front_ceiling {
    height: 100%;
    z-index: 2;
    width: 100%;
    position: absolute;
    transform: scale(50%) translateY(-106%) translateX(1%);
}

.left_side_wall_front {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(50%) translateY(-6%) translateX(-45%);
    height: 100%;
    z-index: 2;
    position: absolute;
}

.right_side_wall_front {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(50%) translateY(-6%) translateX(45%);
    height: 100%;
    z-index: 2;
    position: absolute;
}

.right_side_wall_front_ceiling {
    height: 100%;
    z-index: 2;
    width: 100%;
    position: absolute;
    transform: scale(50%) translateY(-106%) translateX(45%);
}

.left_side_wall_front_ceiling {
    height: 100%;
    z-index: 2;
    width: 100%;
    position: absolute;
    transform: scale(50%) translateY(-106%) translateX(-45%);
}

.side_darkness {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    z-index: 3;
    position: absolute;
}

.back_darkness {
    z-index: 1;
    width: 100%;
    height: 100%;
    position: absolute;
}

.torch {
    width: 100%;
    height: 100%;
    z-index: 7;
    position: absolute;
}

.front_torch {
    top: 50%;
    left: 50%;
    height: 100%;
    z-index: 4;
    position: absolute;
}

.item {
    width: 100%;
    height: 100%;
    z-index: 7;
    position: absolute;
}

.front_item {
    height: 100%;
    width: 100%;
    z-index: 4;
    position: absolute;
}

.inventory {
    min-height: fit-content;
    min-width: fit-content;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 80;
    height: 100%;
}

.inventory_background {
    z-index: 80;
    height: 100%;
    left: 0;
    top: 0;
    position: relative;
}

.inventory_toggle {
    all: unset;
    display: inline-block;
    z-index: 81;
    position: absolute;
    width: 14%;
    height: 3.4%;
    left: 85%;
    top: 5.8%;
    border: none;
    background-color: transparent;
}

.inventory_toggle_icon {
    top: 0;
    left: 0;
    position: relative;
    width: 90%;
    height: 90%;
    cursor: pointer;
}

.inventory_list {
    all: unset;
    position: absolute;
    left:0;
    top:20%;
    width: 40%;
    height: 100%;
    z-index: 82;
}

.inventory_slot {
    width: 100%;
    height: 10%;
    background-image: url("../assets/maze_assets/inventory_slot.png");
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 83;
}

.inventory_slot_trigger {
    all: unset;
    display: inline-block;
    width: 100%;
    height: 10%;
    position: absolute;
    cursor: pointer;
    z-index: 85;
}

.inventory_slot_icon {
    position: absolute;
    width: 80%;
    height: 7%;
    padding-left: 13%;
    padding-top: 13%;
    z-index: 84;
}

.map, .compass {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 80;
}