.text_field_container {
    display: flex;
    overflow: hidden; /* Prevent scrolling of the parent */
    width: 70vw;
    height: 100vh; /* Constrain height to viewport */
    position: relative;
    left: 22%;
}

.text_field_left {
    left: 0;
    top: 100px;
    min-height: 100%;
    padding: 26px;
    position: relative;
    background-image: url("./assets/text_space_left_side.png");
}

.text_field_right {
    right: 0;
    top: 100px;
    min-height: 100%;
    padding: 26px;
    position: relative;
    background-image: url("./assets/text_space_right_side.png");
}

.text_field {
    flex: 1;
    position: relative;
    top: 100px;
    background-color: #fff5b5;
    overflow-y: auto;
    max-height: calc(100vh - 100px);
}

.text_field_top {
    background-image: url("./assets/text_space_top.png");
    top: 0;
    left: 69px;
    right: 69px;
    padding: 50px;
    position: absolute;
}

.text_field_left_corner {
    padding-top: 100px;
    padding-left: 69px;
    top: 0;
    left: 0;
    position: absolute;
    background-image: url("./assets/text_space_left_corner.png");
}

.text_field_right_corner {
    padding-top: 100px;
    padding-left: 69px;
    top: 0;
    right: 0;
    position: absolute;
    background-image: url("./assets/text_space_right_corner.png");
}

@media only screen and (max-width: 600px) {
    .text_field_container {
        width: 100vw;
        left: auto;
    }
}

@media only screen and (max-width: 810px) {
    .text_field_container {
        width: 80vw;
        left: 13%;
    }
}